.divstyle{
    margin-left: 3%;
    margin-right: 3%;
    
    
}

.inputtodo{
    text-align: center;
    width:98%;
   
}
.i{
    width:80%;
    height:28px;
    margin-top: 10px;
}
.btn{
    height:34px;
}